<div class="change-password-container">

  <h2>Change Password</h2>

  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

    <!-- Current Password -->
    <div>
      <label>Current Password</label>
      <input type="password" formControlName="currentPassword">

      <small *ngIf="submitted && f['currentPassword'].errors">
        Current password is required
      </small>
    </div>

    <!-- New Password -->
    <div>
      <label>New Password</label>
      <input type="password" formControlName="newPassword">

      <small *ngIf="submitted && f['newPassword'].errors?.['required']">
        New password is required
      </small>

      <small *ngIf="submitted && f['newPassword'].errors?.['minlength']">
        Minimum 6 characters required
      </small>
    </div>

    <!-- Confirm Password -->
    <div>
      <label>Confirm Password</label>
      <input type="password" formControlName="confirmPassword">

      <small *ngIf="submitted && f['confirmPassword'].errors?.['required']">
        Confirm password is required
      </small>

      <small *ngIf="submitted && f['confirmPassword'].errors?.['mismatch']">
        Passwords do not match
      </small>
    </div>

    <button type="submit">Update Password</button>

  </form>
</div>